	body{
		background-color: #ffffff;
		margin:1%;
		padding: 1%;
	}
	header{
	background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");	
	background-size: cover;
	 padding: 2% 3% 2% 3%;

	}
	h1{
	font-size: 130%;
	color: #fff;
	text-align: center;	
	text-transform: uppercase;
	}
	nav a{
		text-decoration: none;
		display:inline-block;
		width: 15%;
		margin: 0% 3% 2% 3%;
		padding:1.3%;
		border-radius: 10px;
		text-align: center;
		 background-color: rgba(255, 255, 255, 0.3);
		 color: black;
		 font: bold;
	}
.active,a:hover{
	background-color:white ;
	color:#3366d6;
}
.left{
	width:20%;
	height:100vh;
	background-color:#FF9800; 
	float: left;
	overflow: auto;
}
.right{
display: inline-block;
height:100vh;
width: 75%;	
overflow: auto;
float: left;
margin-left: 2%;
}
img{
    display: block;
    width: 70%;
    border: solid 2px #000000;
    margin: 0 auto;
    margin-top: 12%;
    margin-bottom: 12%;
}
table{
	width:80%; 
	line-height:120%;
	margin:0 auto;
	font-family: serif;
	font-weight: bold;
	font-size: 111%;
	text-align: center;
}
tr th{
	border: 1px solid #b6cb1b;
	border-radius: 5px 5px 0 0;
	border-bottom: 3px solid  #b6cb1b;
	background-color:#7c931b ;
	color:#ffffff;
	background: -webkit-linear-gradient(#88afd8, #747d20);
    background: linear-gradient(#88afd8, #747d20);
    height: 50px;
    padding-left:10px; 
}

tr td{
opacity: 0.8;
padding: 1%;
background-color:#dfefe6 ;
color:#310000 ;
-webkit-border-radius:3px;
font-size: 90%;
}
tr td:first-child{
	text-align: left;
}
tr th:first-child{
	text-align: left;
}
tr:hover td{
	opacity: 1;
	text-shadow: 2px 2px 2px #ceed26;
}
ul{
	list-style: upper-roman;

}
a {
	text-decoration: none;
	font-size: 20px;
	color: #3366d6;
}
section{
	font-size:120%; 
}